:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #353535;
  --verde: #054b5a;
  --cinza-claro: #68645e;
  --amarelo: #fec612;
  --sombra: 0rem 0rem 3rem rgba(0, 0, 0, 0.1);
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}
body {
  font-family: 'Poppins';
}
h1 {
  font-size: 4rem;
  color: var(--verde);
  font-weight: var(--bold);
}
h2 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  color: var(--verde);
  font-weight: var(--bold);
}
h3 {
  font-size: 2rem;
  color: var(--preto);
  font-weight: var(--bold);
}
p {
  font-size: 1.6rem;
  font-weight: var(--medium);
}
a {
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
}
a:hover {
  color: var(--branco);
}

.bt {
  padding: 1rem 3.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-weight: var(--light);
}
.bt:hover {
  filter: brightness(0.9);
  transform: scale(0.97);
}
.bt-verde {
  background: var(--verde);
  color: var(--branco);
}
header nav .logo img {
  height: 4rem;
}
.topo {
  background-color: var(--amarelo);
}
.topo p {
  margin: 2rem 0;
}
.soma h2 {
  text-align: center;
}
.soma .blocos {
  display: flex;
  gap: 5rem;
}
.soma .blocos .bloco {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--branco);
  box-shadow: var(--sombra);
  gap: 2rem;
}
.soma .blocos .bloco p {
  text-align: center;
}
.gratuito .bloco {
  margin: 2rem 0;
  box-shadow: var(--sombra);
  padding: 3rem;
  border-radius: 5rem;
}
.gratuito .bloco h2,
.gratuito .bloco p {
  text-align: center;
}
.gratuito .bt {
  margin: 0 auto;
}
.comentarios h2 {
  text-align: center;
}

.comentarios .swiper-comentarios {
  position: relative;
  padding: 0 3rem;
}
.comentarios .swiper-comentarios .swiper-button-prev:after,
.comentarios .swiper-comentarios .swiper-rtl .swiper-button-next:after {
  content: '';
}
.comentarios .swiper-comentarios .swiper-button-next:after,
.comentarios .swiper-comentarios .swiper-rtl .swiper-button-prev:after {
  content: '';
}

.comentarios .swiper-comentarios .swiper-button-next {
  right: -0.5rem;
}
.comentarios .swiper-comentarios .swiper-button-prev {
  left: -0.5rem;
  transform: rotate(-180deg);
}
.comentarios .comentario {
  border: 0.2rem solid #ebf3ea;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comentarios .comentario .foto {
  margin-bottom: 1rem;
}
.comentarios .comentario img {
  width: 8rem;
}
.comentarios .comentario p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: var(--cinza-claro);
}
.comentarios .comentario h5 {
  font-weight: var(--semi-bold);
  text-align: center;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.comentarios .comentario h6 {
  font-weight: var(--light);
  text-align: center;
  font-size: 1.2rem;
}
